.form-check {
  margin-right: 1rem;
}

.form-item {
  margin-bottom: 1rem;
}

label,
.form-check-input {
  cursor: pointer;
}

@media (min-width: 768px) {
  footer.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
  }
}
